.search,
.search-resuilt {
    width: 500px;
}
.search {
    position: relative;
    background-color: #f1f1f2;
    border-radius: 25px;
    border: 1px solid transparent;
    display: flex;
    justify-content: space-between;

    input {
        font-family: var(--font-famil);
        width: 80%;
        padding: 3px 16px;
        background-color: transparent;
        font-size: 1.5rem;
        margin: 10px 0 10px 10px;
    }
    &:focus-within {
        border-color: rgb(182, 176, 176);
    }
    input:valid ~ .search-btn {
        color: var(--black);
    }
}
.search-resuilt_title {
    margin-left: 10px;
    font-size: 1.4rem;
    color: rgba(22, 24, 35, 0.2);
    font-weight: 600;
}

.clear {
    border: none;
    font-size: 15px;
    padding: 2px 10px;
    background-color: transparent;
    color: #858597;
    cursor: pointer;
}
.loading {
    position: absolute;
    right: 62px;
    bottom: 15px;
    animation: quay linear 1s infinite;
}
@keyframes quay {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
.search-btn {
    border: none;
    font-size: 22px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    padding: 0 15px;
    color: #9a9b9e;
    cursor: pointer;
    background-color: transparent;
    position: relative;

    &::before {
        content: '';
        display: block;
        width: 1px;
        height: 60%;
        background-color: #bbb1b1;
        position: absolute;
        left: 0;
    }
    &:hover {
        background-color: #d4ccdb;
    }
}
