.wrapper {
    width: 100%;
    height: var(--default-layout-head-height);
    box-shadow: 0 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--while);
    z-index: 10;
}
.inner {
    height: 100%;
    width: var(--default-layout-width);
    padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_link {
    display: flex;
}
.action {
    display: flex;
    align-items: center;
}
.upload__icon {
    margin-right: 10px;
}
.more-btn {
    padding: 6px 10px;
    font-size: 20px;
    color: #605454;
    margin: 0 0 0 15px;
    cursor: pointer;
    background-color: transparent;
}
.action-btn {
    font-size: 1.4rem;
    background-color: transparent;
    color: #000;
    padding: 4px 12px;
    cursor: pointer;
    position: relative;

    .inboxNumber {
        position: absolute;
        top: 1px;
        right: 3px;
        background: var(--primary);
        color: #fff;
        font-size: 11px;
        padding: 3px 5px;
        border-radius: 10px;
    }
}
.user-avata {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}
