.wrapper .content {
  background: url("./backgrought_nopage.png") center center / cover no-repeat
    transparent;
  text-align: center;
  margin-top: 60px;
  padding-top: 105px;
  padding-bottom: 30px;
  p {
    font-weight: 400;
    font-size: 22px;
    color: rgb(135 124 124);
    font-family: "ProximaNova";
  }
  h2 {
    font-weight: 700;
    font-size: 27px;
    color: rgb(22, 24, 35);
    max-width: 622px;
    word-break: break-word;
    margin: 18px auto 35px;
  }
}
.err404 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
  h1 {
    font-size: 300px;
    line-height: 244px;
    font-weight: 600;
  }
  img {
    width: 244px;
    height: 244px;
  }
}
span.button > a {
  color: #fff;
  font-size: 23px;
}
