.container {
  font-family: "ProximaNova";
  margin-top: 15px;
}
.item {
  display: flex;
  flex-direction: column;
}
.description {
  display: block;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.1;
  padding: 10px 10px 0;
  height: 50px;
  color: #000;
}
.item_video {
  margin-bottom: 20px;
}
.loadmore {
  display: flex;
  justify-content: center;
  &.loading {
    margin-top: 100px;
  }
}
